@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Condensed&display=swap');

html{
  overflow-x: hidden!important;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #414a4c!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  color:white!important;
}

.navbar-brand{
  color:white!important;
}

.navbar-nav{
  margin-left:auto!important;
}

.smallimg{
  height:200px;
  width:100% !important;
  border-radius: 5px!important;

}

h1{
  font-size: 20px!important;
}

.bs{
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  margin-top: 20px!important;
  border-radius: 5px!important;
  padding:20px!important;
}

.big-img{
  height:50vh!important;
  border-radius:5px!important;
}

input , select, .ant-picker{
  box-shadow: none!important;
  margin-top: 15px!important;
  border: 2px solid black!important;
  width:100%!important;
  border-radius: 3px!important;
  height:6vh!important;
}

h2{
  font-size:30px;
  padding:10px!important;
  font-weight: bold;
}

.dropdown-toggle{
  border:0px solid black!important;
}

.ant-picker-input input{
  border:none!important;
}

p{
  font-size: 15px!important;
}

.landing{
  height: 100vh;
}

.h2-landing{
  color:white!important;
  font-size:15vh!important;
}


@media (max-width:300px) {
  .navbar-toggler, .navbar-brand{
    margin:0px!important;
  }

  .navbar{
    justify-content: center!important;
  }
}

@media (max-width:900px) {
  .landing {
    width: 100vw;
  }
  .h2-landing{
    font-size:8vh!important;
  }
}